body{
    overflow-x: hidden;
}

.navbar{
    background-color: #fff;
    padding: 10px;
    position: sticky;
    z-index: 2;
    top: 0%;
}

.nav-item a{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.navbar-nav{
    margin-right: 20px;
}

.navbar-brand img{
    width: 40px;
}

.navbar-brand span{
    font-size: 17px;
    color: rgb(112, 62, 160);
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

form .btn{
    background-color: rgb(52, 0, 121);
    color: #fff;
    outline: none !important;

}

.carousel-inner .carousel-item{
    height: 590px;
    background-color: #777;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-caption{
   margin: 70px auto;
   margin-bottom: 14%;
}

.carousel-caption h1, p{
    color: rgb(212, 212, 212);
    font-family: 'Poppins', sans-serif;
}

#overview{
  padding: 30px;
  margin-bottom: 5%;
}

#overview .overview-img{
  height: 100%;
  width: 100%;
  padding: 40px 0 0 0;
}

#overview .text{
  padding: 50px 0;
}

#overview .text h5{
  color: #777;
  font-size: 15px;
}

#overview .text h1{
  color: rgb(65, 30, 122);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

#overview .text p{
  color: #555;
  margin-bottom: 30px;
}

#overview .text a{
  color: #fff;
  background-color: rgb(65, 30, 122);
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
}

#cards{
  margin-bottom: 5%;
}

#cards .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 1px solid red; */
}

#cards .box{
  height: 100%;
  width: 100%;
  flex-basis: 30%;
  margin: 10px 0px;
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  box-shadow: 0px 0px 10px lightgray;
  border-radius: 10px;
}

#cards .box img{
  border-radius: 10px 10px 0 0;
}

#cards .box h1{
  font-size: 22px;
  font-weight: 600;
  margin: 38px 0 15px 0;
}

#cards .box p{
  padding: 0px 10px;
  color: #666;
  font-size: 13px;
}

#cards .box a{
 text-decoration: none;
 color: #fff;
 background-color: rgb(65, 30, 122);
 font-size: 12px;
 padding: 7px 10px;
 border-radius: 5px;
}

#cards .box ul li{
  list-style: none;
}

#cards .box ul li i{
  color: #fff;
  background-color: rgb(65, 30, 122);
  padding: 15px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #fff;
  cursor: pointer;
  transition: all linear .2s;
}

#cards .box:hover ul li i{
  background-color: #fff;
  color: rgb(65, 30, 122);
}

/* Why-Us Section------------------------------------------------------------------ */

#why-us{
  background-color: rgb(245, 245, 245);
}

.why-us {
  padding: 0;
}
.why-us .content {
  padding: 60px 100px 0 100px;
}
.why-us .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: #3c096c;
}
.why-us .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}
.why-us .content p {
  font-size: 15px;
  color: #848484;
}
.why-us .video-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 400px;
  position: relative;
}
.why-us .accordion-list {
  padding: 0 100px 60px 100px;
}
.why-us .accordion-list ul {
  padding: 0;
  list-style: none;
  text-decoration: dotted;
}
.why-us .accordion-list li + li {
  margin-top: 15px;
}
.why-us .accordion-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}
.why-us .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 30px;
  outline: none;
  color: #0b2341;
  cursor: pointer;
  text-decoration: none;
}
.why-us .accordion-list span {
  color: #3c096c;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}
.why-us .accordion-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}
.why-us .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}
.why-us .accordion-list .icon-show {
  display: none;
}
.why-us .accordion-list a.collapsed {
  color: black;
}
.why-us .accordion-list a.collapsed:hover {
  color: #3c096c;
}
.why-us .accordion-list a.collapsed .icon-show {
  display: inline-block;
}
.why-us .accordion-list a.collapsed .icon-close {
  display: none;
}
.why-us .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#ed502e 50%, rgba(237, 80, 46, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}
.why-us .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.why-us .play-btn::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(237, 80, 46, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}
.why-us .play-btn:hover::after {
  border-left: 15px solid #3c096c;
  transform: scale(20);
}
.why-us .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}
@media (max-width: 1024px) {
  .why-us .content, .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 992px) {
  .why-us .content {
    padding-top: 30px;
  }
  .why-us .accordion-list {
    padding-bottom: 30px;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/* --------------------Why-Us Section-------------------------------------- */


#title-2{
  background-color: rgb(250, 250, 250);
}

#title-2 .text{
  margin-top: 50px;
}

#title-2 .text h5{
  color: #777;
  font-size: 15px;
}

#title-2 .text h1{
  color: rgb(65, 30, 122);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

#services{
  background-color: rgb(250, 250, 250);
}

#services .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#services .box{
  text-align: center;
  flex-basis: 28%;
  margin: 10px 0px;
  position: relative;
  padding-top: 150px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 2px 2px 10px lightgray;
  transition: all .5s ease-in-out;
  border-radius: 10px;
}

#services .box ul li{
  list-style: none;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(65, 30, 122);
  padding: 15px 20px;
  color: #fff;
  font-size: 25px;
  border-radius: 10px;
  box-shadow: 7px 7px 1px rgb(186, 156, 235);
}

#services .box h1{
  font-size: 25px;
  color: rgb(65, 30, 122);
}

#services .box p{
  color: #666;
  font-size: 13px;
}

#services .box:hover{
  background-color: rgb(65, 30, 122);
}

#services .box:hover ul li {
  background-color: #fff;
  color: rgb(65, 30, 122);
}

#services .box:hover h1{
  color: #fff;
}

#services .box:hover p{
  color: #fff;
}

#title-3{
  background-color: rgb(250, 250, 250);
}

#title-3 .text{
  margin-top: 50px;
}

#title-3 .text h5{
  color: #777;
  font-size: 15px;
}

#title-3 .text h1{
  color: rgb(65, 30, 122);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

#team{
  background-color: rgb(250, 250, 250);
  text-align: center;
}

#team .container{
  display: flex;
  justify-content: space-between;
}

#team .box{
  height: 100%;
  width: 100%;
  flex-basis: 32%;
  padding-top: 10px;
  position: relative;
}

#team .social{
  background-color: rgba(0, 0, 0, 0.575);
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 30%;
  visibility: hidden;
}

#team .box:hover .social{
  visibility: visible;
}

#team .social a{
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  padding: 30px;
}

#team .social p{
  font-size: 12px;
  color: #fff;
}








/* CONTACT-FORM------------------------------------- */

.section-title h2{
  color: #777;
  font-size: 15px;
}

.section-title p{
  color: rgb(65, 30, 122);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact .info-box {
  color: #0b2341;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  background: #fff;
}
.contact .info-box i {
  font-size: 32px;
  color: #3c096c;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #fbdad2;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #666;
}
.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #3c096c;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #3c096c;
}
.contact .php-email-form input {
  padding: 10px 15px;
}
.contact .php-email-form textarea {
  padding: 12px 15px;
}
.contact .php-email-form button[type=submit] {
  background: #3c096c;
  border: 0;
  padding: 10px 30px;
  border-radius: 4px;
  color: #fff;
  transition: 0.4s;
}
.contact .php-email-form button[type=submit]:hover {
  background: #3c096c;
}

.map iframe{
  display: block;
  width: 100%;
  height: 400px;
  padding: 20px;
  margin-top: 20px;
}







/* FOOTER------------------------------------ */








#footer {
  background: #17022b;
  padding: 0 0 0px 0;
  color: #fff;
  font-size: 14px;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 15px;
  background: #3c096c;
  border-top: 4px solid #9020f9;
  text-align: center;
  padding: 30px 20px;
}
#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  color: black;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  background: white;
}
#footer .footer-top .social-links a:hover {
  color: #fff;
  background: #8811f8;
  text-decoration: none;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #880dfc;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}
#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}
#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #3c096c;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}
#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #3c096c;
}
#footer .copyright{
  
  text-align: center;
  padding-top: 30px;
  
 
}
 #footer .copyrights{
  background-color:#150020;

 
  height:100% ;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  padding-bottom: 1.5rem;

}
@media (max-width: 575px) {
  #footer .footer-top .footer-info {
    margin: -20px 0 30px 0;
  }
}













@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg);
  }
}



@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #cards .box ul li i{
    top: 40%;
    left: 50%;
  }

  #services .box ul li{
    font-size: 20px;
  }

  #services .box h1{
    font-size: 20px;
  }

  #services .box p{
    font-size: 12px;
    padding: 0 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #cards .box ul li i{
    top: 30%;
    left: 50%;
  }

  #cards .box h1{
    font-size: 15px;
  }

  #services .box ul li{
    font-size: 20px;
  }

  #services .box h1{
    font-size: 20px;
  }

  #services .box p{
    font-size: 12px;
    padding: 0 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
  #cards .container{
    width: 100%;
    flex-direction: column;
  }

  #cards .box ul li i{
    top: 60%;
    left: 50%;
  }

  #services .container{
    width: 100%;
    flex-direction: column;
  }

  #services .box p{
    padding: 0 20px;
  }

  #team .container{
    width: 100%;
    flex-direction: column;
  }
}

@media only screen and (min-width: 200px) and (max-width: 576px){
  #cards .container{
    width: 100%;
    flex-direction: column;
  }

  #cards .box ul li i{
    display: none;
  }

  #cards .box h1{
    margin: 10px 0;
  }

  #overview .overview-img{
    width: 100%;
    flex-direction: column;
  }

  #services .container{
    width: 100%;
    flex-direction: column;
  }

  #services .box p{
    padding: 0 20px;
  }

  #team .container{
    width: 100%;
    flex-direction: column;
  }
}